:root {


	/*
	grey is darker than darkgrey????
	*/


	/* hsl
	*/
	--hsl-black     : hsl(0, 0%, 0%);
	--hsl-dimgrey   : hsl(0, 0%, 41%);
	--hsl-grey      : hsl(0, 0%, 50%);
	--hsl-lightgrey : hsl(0, 0%, 83%);
	--hsl-white     : hsl(0, 0%, 100%);

	--hsl-red     : hsl(0, 100%, 50%);
	--hsl-yellow  : hsl(60, 100%, 50%);
	--hsl-lime    : hsl(120, 100%, 50%);
	--hsl-green   : hsl(120, 100%, 25%);
	--hsl-cyan    : hsl(180, 100%, 50%);
	--hsl-blue    : hsl(240, 100%, 50%);
	--hsl-magenta : hsl(300, 100%, 50%);


	/* hwb
	*/
	--hwb-black     : hwb(0 0% 100%);
	--hwb-dimgrey   : hwb(0 41% 59%);
	--hwb-grey      : hwb(0 50% 50%);
	--hwb-lightgrey : hwb(0 83% 17%);
	--hwb-white     : hwb(0 100% 0%);

	--hwb-red     : hwb(0 0% 0%);
	--hwb-yellow  : hwb(60 0% 0%);
	--hwb-lime    : hwb(120 0% 0%);
	--hwb-green   : hwb(120 0% 50%);
	--hwb-cyan    : hwb(180 0% 0%);
	--hwb-blue    : hwb(240 0% 0%);
	--hwb-magenta : hwb(300 0% 0%);


	/* lab
	*/
	--lab-black     : lab(0% 0 0);
	--lab-dimgrey   : lab(44.41% 0 -0.01);
	--lab-grey      : lab(53.59% 0 -0.01);
	--lab-lightgrey : lab(84.91% 0 -0.01);
	--lab-white     : lab(100% 0.01 -0.01);

	--lab-red     : lab(53.23% 80.11 67.22);
	--lab-yellow  : lab(97.14% -21.56 94.48);
	--lab-lime    : lab(87.74% -86.18 83.18);
	--lab-green   : lab(46.23% -51.7 49.9);
	--lab-cyan    : lab(91.12% -48.08 -14.14);
	--lab-blue    : lab(32.3% 79.2 -107.86);
	--lab-magenta : lab(60.32% 98.25 -60.84);

	--lab-orangered     : lab(57.57% 67.8 68.97);
	--lab-deeppink      : lab(55.95% 84.56 -5.71);
	--lab-hotpink       : lab(65.48% 64.25 -10.66);
	--lab-darkturquoise : lab(75.29% -40.04 -13.52);
	--lab-deepskyblue   : lab(72.55% -17.65 -42.55);
	--lab-dodgerblue    : lab(59.38% 9.97 -63.39);
	--lab-greenyellow   : lab(91.96% -52.48 81.87);

}