
html {
	background-color: silver;
}

body {
	margin:1em;
	padding:1em;
	font-family:sans-serif;
	color:black;
	background-color: white;
}


textarea {
	width:90%;
	height:auto;
	min-height:5rlh;
}


pre.log {
	display: pre;
	width:90%;
	height:auto;
	min-height:5rlh;
	border: 1ex silver inset;
	padding:1em;
}
