
html {
	background-color: silver;
}

body {
	margin:1em;
	padding:1em;
	border-radius:1ex;
	font-family:sans-serif;
	color:black;
	background-color: white;
}

h1:first-of-type {
	margin-top:0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


textarea {
	width:90%;
	height:auto;
	min-height:5rlh;
}

pre.log {
	display: pre;
	width:90%;
	height:auto;
	min-height:5rlh;
	border: 1ex silver inset;
	padding:1em;
}


.navigate-up {
	display:block;
	float:right;
	background-color:whitesmoke;
	border:1px solid silver;
	border-radius:1ex;
	padding:1ex;
	font-weight:bold;
	font-size: large;
}

