/*
**	form.css
*/


input[type=range] {

	width:500px;
	margin:0px;
}


datalist {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	writing-mode: vertical-lr;
	width: 500px;
}
/* option {
	padding: 0px;
} */


.appearance-none {
	* {
		appearance: none; /* auto none */
	}
}


select {
	/* appearance: base-select; */
	/* appearance: menulist-button; */
}





.light {
	color-scheme: light;


	* {
		appearance: progress;
	}


}




.dark {
	color-scheme: dark;
}


