.background-crosshatch {
	background:
		repeating-linear-gradient(
			45deg,
			#999a 0px,
			#999a 1px,
			#fff0 1px,
			#fff0 100px
		),
		repeating-linear-gradient(
			135deg,
			#999a 0px,
			#999a 1px,
			#fff0 1px,
			#fff0 100px
		);
}


.background-checkerboard{
	background:
		repeating-linear-gradient(
			45deg,
			#999a 0px,
			#999a 10px,
			#fffa 10px,
			#fffa 20px
		),
		repeating-linear-gradient(
			135deg,
			#999a 0px,
			#999a 10px,
			#fffa 10px,
			#fffa 20px
		);
}