@import "../[html-common]/style/html-common.css";

:root {
	--project-colour: orangered;
}


html {
	--html-light: #ddd;
	--html-dark: #000;
	background-color: var(--html-light);

	body {
		--body-light: #fcfcfc;		/* nearly-white */
		--body-dark: #222;
		background-color: var(--body-light);
	}
}

html.colourScheme-light {
	color-scheme: light;
	background-color: var(--html-light);
	body {
		background-color: var(--body-light);
		color: black;
	}
}

html.colourScheme-dark {
	color-scheme: dark;
	background-color: var(--html-dark);
	body {
		background-color: var(--body-dark);
		color: white;
	}
}


body {
	margin:1em;
	padding:1em;
	border-radius:1em;
	font-family:sans-serif;
	color:black;
	tab-size: 4;

	--accent-colour: var(--project-colour);
	accent-color: var(--accent-colour);
}



/*
**	main grid layout
*/

main {
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin:1ex;	border-radius:1ex;
	&>* {
		margin:inherit;
		border-radius:inherit;
		grid-column-start: span 2;
	}

	.limit-height {
		max-height:30em;
		overflow-y: scroll;
	}
}

.no-grid {
	display:unset;
}


@media (orientation: landscape) {
	main {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		&>* { grid-column-start: span 2; }
	}
}

@media (orientation: portrait) {
	main {
		grid-template-columns: 1fr 1fr ;
	}
}


/*
** Elements & Colours
*/



pre {
	--element-colour: white;
}

/*
--silver-light: #bbb;
--silver-dark: #333;
*/


/*
**	Miscellaneous
*/



pre {		/* treat these like markdown */
	/* font-size:large; */
	/* margin:1em; */
	white-space: pre-line;
	padding: 2em;
	border-style: outset;
	border-radius: 3em / 2em;
	&::before {
		display:block;
		position:relative;
		top:-1ex;
		/* left:-1em; */
		font-size:xx-large;
		content: '🗨';
	}

}

.pretty {
	div		{ --colour: dodgerblue; }
	p		{ --colour: plum; }
	section	{ --colour: springgreen; }
	aside	{ --colour: aqua; }

	div, p, section, aside {
		border: 2px solid var(--colour);
		background-color: hwb(from var(--colour) h w b / 0.3);
	}

}





h1:first-of-type {
	margin-top:0;
}

h1 {
	border-bottom: 1px solid silver;
}
h2 {
	border-bottom: 1px dotted silver;
}


a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


nav {
	display:block;
	float:right;
	font-weight:bold;
	font-size: 2em;
}




textarea {
	width:90%;
	height:auto;
	min-height:5rlh;
}

output#pageLog {
	display: block;
	white-space: pre;
	width:90%;
	height:auto;
	min-height:5rlh;
	border: 1ex silver inset;
	padding:1em;
}


details {
	margin:1em 0em;
	cursor:pointer;
}
summary:hover {
	text-decoration: underline dotted;
}



/* table styles
*/
table {
	border-collapse: collapse;
	border:0.1rem solid black;
}
th, td {
	padding: 0.1rem 1rem;
	border-style: solid;
	border-width: 0.1rem 0rem;
	border-color: black;
}
th {
	font-weight:normal;
	background-color: silver;
}





body[onload]::before {
	position:absolute;
	font-family: monospace;
	top:0ex;
	color: dimgrey;
	content: 'onload=' attr(onload) ;
}
