
/* Relative Units
*/

/* font & character based */
.em 	{ font-size: 1em; }
.rem 	{ font-size: 1rem; }
.ex 	{ font-size: 1ex; }
.rex 	{ font-size: 1rex; }
.cap	{ font-size: 1cap; }
.rcap	{ font-size: 1rcap; }
.ch 	{ font-size: 1ch; }
.rch 	{ font-size: 1rch; }
.ic		{ font-size: 1ic; }
.ric	{ font-size: 1ric; }
.lh 	{ font-size: 1lh; }
.rlh 	{ font-size: 1rlh; }

/* viewport based */
.vw 	{ font-size: 1vw; }
.vh 	{ font-size: 1vh; }
.vmin 	{ font-size: 1vmin; }
.vmax 	{ font-size: 1vmax; }
.vb		{ font-size: 1vb; }
.vi		{ font-size: 1vi; }

.percent-50 { font-size: 50%; }


/* Absolute units
*/
.cm-1 	{ font-size: 1cm; }
.in-1 	{ font-size: 1in; }
.mm-5	{ font-size: 5mm; }
.pc-1 	{ font-size: 1pc; }
.pt-10 	{ font-size: 10pt; }
.px-10 	{ font-size: 10px; }
.q-10 	{ font-size: 10q; }



/* table tweaks
*/

th { font-size: 1rem; }
